################################
# Dependencies
################################
node_modules/

################################
# Environment Variables
################################
env/.env.backend
env/.env.frontend
env/.env.production
env/.env.test
.env
.env.*
*.local

!env/.env.example

################################
# Build Outputs
################################
dist/
.eslintcache
build/

out/

.next/
.vite/

################################
# Datasets
################################
backend/datasets/archives/test_files/chunks_test.json
backend/datasets/archives/test_files/embedded_chunks_test.jsonl
backend/datasets/archives/test_files/stored_documents_test.jsonl

backend/datasets/archives/chunks.json
backend/datasets/archives/embedded_chunks.jsonl
backend/datasets/archives/stored_documents.jsonl

!backend/datasets/out/

backend/datasets/out/test_files/chunks_test.json
backend/datasets/out/test_files/embedded_chunks_test.jsonl
backend/datasets/out/test_files/stored_documents_test.jsonl

backend/datasets/out/chunks.json
backend/datasets/out/embedded_chunks.jsonl
backend/datasets/out/stored_documents.jsonl

################################
# Logs
################################
logs/
*.log

################################
# Testing
################################
coverage/
.nyc_output/

################################
# Caches
################################
.cache/
.parcel-cache/
.eslintcache

################################
# IDE
################################
.idea/

################################
# OS
################################
.DS_Store
Thumbs.db

################################
# Temporary
################################
*.tmp
*.temp
*.swp
*~

################################
# TypeScript
################################
*.tsbuildinfo

################################
# Misc
################################
/.scratch/
