# BACKEND

PORT=
NODE_ENV=

APP_URL=
API_URL=

TEST_USER_NAME=
TEST_USER_NAME_EXT=
TEST_USER_PASSWORD=

ALLOWED_ORIGINS=
PUBLIC_ROUTES=
HEALTH_ROUTES=

OPENAI_API_KEY=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_USER=
SUPABASE_PASSWORD=
SUPABASE_HOST=
SUPABASE_PORT=
SUPABASE_DATABASE=
SUPABASE_CONNECTION_LIMIT=
SUPABASE_CONNECTION_STRING=postgresql://[SUPABASE_USER]:[SUPABASE_PASSWORD]@[SUPABASE_HOST]:[SUPABASE_PORT]/[SUPABASE_DATABASE]

AIVEN_USER=
AIVEN_PASSWORD=
AIVEN_HOST=
AIVEN_PORT=
AIVEN_DATABASE=
AIVEN_SSL_MODE=
AIVEN_CONNECTION_LIMIT=
AIVEN_CONNECTION_STRING=postgres://[AIVEN_USER]:[AIVEN_PASSWORD]@[AIVEN_HOST]:[AIVEN_PORT]/[AIVEN_DATABASE]?sslmode=[AIVEN_SSL_MODE]
AIVEN_CA_CERT="-----BEGIN CERTIFICATE-----
..... (CA certificate content) ....
-----END CERTIFICATE-----"

USE_SUPABASE_DOCUMENTS_TABLE=

MAX_FREE_TRIES=

LOG_LEVEL=

API_AUTH_ENABLED=
API_KEY=
STRICT_ENV=

GIT_LFS_SKIP_SMUDGE=
HUSKY=

# FRONTEND

VITE_APP_URL=
VITE_API_URL=

VITE_TEST_USER_NAME=
VITE_TEST_USER_NAME_EXT=
VITE_TEST_USER_PASSWORD=

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

INTERNAL_BACKEND_API_KEY=

HUSKY=
