# BACKEND
PORT=
NODE_ENV=

FRONTEND_URL=
ALLOWED_ORIGINS=
PUBLIC_ROUTES=

OPENAI_API_KEY=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

AIVEN_HOST=
AIVEN_PORT=
AIVEN_DATABASE=
AIVEN_USER=
AIVEN_PASSWORD=
AIVEN_SSL_MODE=

USE_SUPABASE_DOCUMENTS_TABLE=

MAX_FREE_TRIES=

LOG_LEVEL=

API_AUTH_ENABLED=
API_KEY=
STRICT_ENV=

# FRONTEND
VITE_API_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
INTERNAL_BACKEND_API_KEY=
